.dashboard-heading{
    margin: 0.7%;
}

.chartPlusRequestBox{
display: flex;
flex-direction: row;
width: 100%;
height: 400px;
}
.cardView-dashboard{
    display: flex;
    width: 100%;
    height: 220px;
    flex-direction: row;
}

.LineChart{
    width: 70%
}
.user_request_container{
    width:30%;
    margin: 2%;
}
.requestbox{
    height: 300px;
    border: 2px solid red;
    overflow: auto;
}
h2{
    margin-bottom: 10px;
}
/* .reg_Approval{
    width: 200px;
    height: 200px;
} */