.dashboard-heading{
    margin: 0.7%;
}

.chartPlusRequestBox{
display: flex;
flex-direction: row;
width: 100%;
height: 400px;
}
.cardView-dashboard{
    display: flex;
    width: 100%;
    height: 220px;
    flex-direction: row;
}

.LineChart{
    width: 53%;
    margin: 0px 0px 0px 50px;
    height: 380px;
}

.user_request_container{
    width:35%;
    margin: 2%;
}
.requestbox{
    height: 286px;
    border: 2px solid red;
    overflow: auto;
}
h2{
    margin-bottom: 10px;

}
.timeperiod-div{
    margin-bottom: 10px;
}

/* .reg_Approval{
    width: 200px;
    height: 200px;
} */

.approval-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .approval-table th, .approval-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .approval-table thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  .approval-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .approval-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .approval-table-container {
    width: 100%;
    height: 300px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  