.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    padding-right: 20px;
  }
  
  .header-container h4 {
    margin-right: 10px;
  }
  
  .Profile-img {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    border-radius: 50%;
  }
  