/* Body Styles */
.body {
  font-family: Arial, sans-serif; /* Adjust font family as needed */
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Light gray background */
  min-height: 100vh; /* Set height to 100% of viewport height (optional) */
  display: flex; /* Allow for centering of content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* Container Styles */
.container {
  background-color: #fff; /* White container background */
  padding: 30px;
  border-radius: 5px;
  width: 33%; /* Adjust width as needed */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Heading Styles */
.heading {
  color: #000000; /* White text color */
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Input Styles */
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Label Styles (assuming you don't have separate labels) */
.input::placeholder { /* Style the placeholder text */
  color: #999; /* Lighter gray for placeholder */
}

/* Button Styles */
.button {
  background-color: #007BFF; /* Green background color */
  color: white;
  padding: 15px 25px;  /* Increase padding for larger button size */
  margin: 8px 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;        /* Set a specific width for the button */
}
.button:hover {
  background-color: #0366d0; /* Darker green on hover */
}

:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}



/* Button Hover Effect */
.paragraph{
  text-align: center;
}

/* Link Styles */
.forget-link {
  color: #009578; /* Dark gray text color */
  text-decoration: none; /* Remove underline from links */
  /* font-weight: ; Make links bolder for emphasis */
}
.signup-link {
  color: #009578; /* Dark gray text color */
  text-decoration: none; /* Remove underline from links */
  /* font-weight: bold; */
  align-items: center; /* Make links bolder for emphasis */
}
/* Link Hover Effect */
.forget-link:hover {
  cursor: pointer;
  color: #08705b; /* Blue color on hover */
}
.signup-link:hover {
  cursor: pointer;
  color: #08705b; /* Blue color on hover */
}

