 /* .container-flex{
    display: flex;
    border: 2px solid black;
}
.left-container{
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    flex: 50%;
}
.right-container{
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    flex: 50%;
} */
.main-container{
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;

}

 .card-container {
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-width: 200px;
     max-width: 250px;
     align-items: center;
     padding: 10px 5px 10px 5px;
     box-shadow: 0px 0px 3px 1px rgba(101, 97, 97, 0.5);
     margin: 2px;
     flex-grow: 1;
    }


 .card-image {
     width: 90px;
     height: 90px;
 }

 .card-details {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 .card-details .card-title {
     width: fit-content;
     height: fit-content;
     word-wrap: break-word;
     font-size: 30px;
     margin: 0px;
     color: black;
 }

 .card-details .card-description {
     width: fit-content;
     word-wrap: break-word;
     font-size: 16px;
     margin: 0px;
 }

 /* .abcd{} */
 /* .abcd{} */
 /* .abcd{} */
 /* .abcd{} */
 /* .abcd{} */