.container-viewUser{
    display: flex;
    width: 80%;
    height: 80%;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-self: center; */

}
.Container-view-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-Edit{
    width:80%;
    /* margin-left: 80px; */
    /* align-items: 'center' */
}
.button-submit {
    background-color: #009578; 
    color: white;
    border: none;
    height: 50px;
    margin: 8px auto; 
    display: block; 
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 400px;  
}


.button-submit:hover{
    background-color: blueviolet;
    
}