.product-container {
    padding: 20px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
  }
  
  .product-table th, .product-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  
  .product-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .product-table th {
    background-color: #007bff;
    color: white;
  }
  
  .product-table td {
    color: #555;
  }
  
  .product-table th, .product-table td {
    text-align: left;
  }
  .productName-search-input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 30%;
  }
  .productType-search{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 30%;
  }
  .productCompany-search{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 30%;
  }
  