.registration-approval {
    padding: 20px;
    width: 100%;
    /* height: 100%; */
    font-family: Arial, sans-serif;
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    color: #333;
}

.registration-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.registration-table th, .registration-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.registration-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.registration-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.registration-table tr:hover {
    background-color: #f1f1f1;
}

.registration-table td {
    color: #555;
}

.select-role {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-Approve-reg {
    padding: 5px 10px;
    background-color: #0033A0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-Approve-reg:hover {
    background-color: #022a80;
}

.registration-table button:hover {
    background-color: #0263cc;
}
.heading-NoRequest {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensures the div takes up the full height of the viewport */
}
