.passwordVisibilityButton{
  margin-right: 1rem;
  border: none;
  background: none;
}

.passwordInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}